@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 234 237 240;
  --fg: 17 17 19;
}
.dark {
  --bg: 10 12 16;
  --fg: 240 240 245;
}

html, body { height: 100%; }
body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
}

.shimmer {
  background: linear-gradient(
    90deg,
    rgba(0,0,0,0.06) 0%,
    rgba(0,0,0,0.12) 50%,
    rgba(0,0,0,0.06) 100%
  );
  background-size: 800px 100%;
}
.dark .shimmer {
  background: linear-gradient(
    90deg,
    rgba(255,255,255,0.05) 0%,
    rgba(255,255,255,0.10) 50%,
    rgba(255,255,255,0.05) 100%
  );
  background-size: 800px 100%;
}
